body{
    padding: 0em 3em;
    background-color: #f8f9fa;
}

body:not(#container, #color, #ready, #instructions, #hero){
    text-align: center;
}

#left-sub-container{
    margin-top: 3%;
    text-align: left;
    border: 1px solid black;
    padding: 1%;
    font-family: 'Courier New', Courier, monospace;
}

#color{
    margin-top: 3%;
    padding: 0% 5%;
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
}

#container{
    display: flex;
    justify-content: space-around;
}

button{
    margin: 3%;
}


#start{
    background-color: #3a7d44;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    padding: 16px 32px;
}

#timer{
    padding-top: 15%;
}

header{
   display: flex;
   justify-content: space-between;
}

#attribution{
    font-family: 'Courier New', Courier, monospace;
}

#voicelab{
    height: auto;
    width: 10%;
}

#hero{
    height: auto;
    width: 80%;
}

#trial-indicator{
    margin-top: 30%;
}